body
{
    margin:0;

    background:#d8c9aa;

    font-family:
        "Palatino Linotype",
        Palatino,
        Georgia,
        serif;
}



#app
{
    display:grid;

    grid-template-columns:240px minmax(0,1fr);

    height:100vh;
}




#leftPanel
{
    background:#f6f5e0;

    padding:15px;

    box-sizing:border-box;

    overflow-y:auto;

    box-shadow:
        inset -5px 0 15px rgba(80,60,30,.18);
}



#leftPanel h2
{
    text-align:center;

    color:#55472d;

    letter-spacing:2px;

    font-size:1.3rem;

    text-transform:uppercase;
}





.collectionHeader
{
    padding:12px;

    color:#57492f;

    font-size:1.1rem;

    cursor:pointer;

    border-bottom:
        1px solid rgba(80,60,30,.2);
}



.collectionHeader:hover
{
    background:#e9e8cd;
}




.outfitList
{
    display:none;

    padding-left:25px;

}



.collectionEntry.open .outfitList
{
    display:block;
}




.outfitButton
{
    display:block;

    width:100%;

    text-align:left;

    border:none;

    background:none;

    padding:8px;

    font-family:
        "Palatino Linotype",
        Georgia,
        serif;

    color:#75613e;

    cursor:pointer;

    font-size:0.95rem;

    transition:all 0.2s ease;
}



.outfitButton:hover
{
    text-decoration:underline;
}





#stageContainer
{
    display:flex;

    justify-content:center;

    align-items:center;

    overflow:hidden;

    background:#a6d6d6;

    position:relative;
}




#stage
{
    position:relative;

    width:707px;

    height:1204px;

    transform-origin:center center;

    flex-shrink:0;
}



#stage img
{
    position:absolute;

    left:0;

    top:0;

    width:707px;

    height:1204px;

    pointer-events:none;
}





#mobileToolbar
{
    display:none;

    position:absolute;

    top:10px;

    left:10px;

    z-index:1000;
}



#mobileToolbar button
{
    padding:10px 14px;

    background:#eee1c4;

    border:none;

    border-radius:5px;

    font-family:Georgia,serif;

}





#overlay
{
    display:none;

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.25);

    z-index:500;
}




@media(max-width:800px)
{


    #app
    {
        grid-template-columns:1fr;
    }


    #leftPanel
    {
        position:fixed;

        top:0;

        bottom:0;

        width:260px;

        left:-260px;

        z-index:1001;

        transition:.3s;
    }


    #leftPanel.open
    {
        left:0;
    }



    #mobileToolbar
    {
        display:block;
    }


}

.outfitButton:disabled
{
    color:#aaa18e;

    cursor:not-allowed;

    text-decoration:none;

    font-style:italic;

    opacity:0.6;
}

.collectionName
{
    font-size:1.05rem;

    letter-spacing:1px;

    color:#57492f;
}


.collectionYear
{
    font-size:0.8rem;

    font-style:italic;

    color:#8a7955;

    margin-left:20px;

    margin-top:2px;
}

#boutiqueLogo
{
    text-align:center;

    margin-bottom:20px;
}


#boutiqueLogo img
{
    max-width:90%;

    height:auto;
}

.collectionName
{
    display:flex;

    align-items:center;

    gap:8px;

    font-size:1.05rem;

    letter-spacing:1px;

    color:#57492f;
}



.flowerIcon
{
    width:24px;

    height:24px;

    object-fit:contain;
}

.flowerIcon.open
{
    transform:rotate(20deg);
}