body
{
    margin:0;

    background:#d9d9d9;

    font-family:Arial, Helvetica, sans-serif;
}

#app {

    display:grid;

    grid-template-columns:200px minmax(0,1fr) 200px;

    height:100vh;

}

#leftPanel,
#rightPanel
{
    background:#ece8df;

    padding:20px;

    box-sizing:border-box;
}
#stageContainer {
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    background:#a6d6d6;
    position:relative;
    width:100%;
}

#stage {
    position:relative;
    width:707px;
    height:1204px;
    transform-origin:center center;
    flex-shrink:0;
}

#stage img {
    position: absolute;
    left: 0;
    top: 0;
    width: 707px;
    height: 1204px;
    pointer-events: none;
}

#collections {
    list-style: none;
    padding: 0;
}

#collections li {
    margin-bottom: 2px;
}

#collections button {
    width: 100%;
    padding: 5px;
    text-align: left;
    font-size: 1rem;
    cursor: pointer;
}

#collections button,
#outfits button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

/* ---------- Tablets ---------- */



@media (max-width:1100px)
{

    #app
    {
        grid-template-columns:160px minmax(0,1fr) 160px;
    }

}


/* ---------- Phones ---------- */


@media (max-width:800px)
{

    #app
    {
        grid-template-columns:1fr;
        grid-template-rows:auto 1fr auto;
    }

    #leftPanel
    {
        max-height:140px;
        overflow-y:auto;
    }

    #rightPanel
    {
        max-height:140px;
        overflow-y:auto;
    }

}