body
{
    margin:0;

    background:#d9d9d9;

    font-family:Arial, Helvetica, sans-serif;
}

#app
{
    display:grid;

    grid-template-columns:180px 1fr 180px;

    height:100vh;
}

#leftPanel,
#rightPanel
{
    background:#ece8df;

    padding:20px;

    box-sizing:border-box;
}
#stageContainer {

    display:flex;

    justify-content:center;

    align-items:center;

    overflow:auto;

    background:#d6d6d6;

}

#stage {

    position:relative;

    width:min(707px, 100vw);

    aspect-ratio:707 / 1204;

}

#stage img {

    position:absolute;

    left:0;
    top:0;

    width:100%;
    height:100%;

    pointer-events:none;

}

#collections {
    list-style: none;
    padding: 0;
}

#collections li {
    margin-bottom: 2px;
}

#collections button {
    width: 100%;
    padding: 5px;
    text-align: left;
    font-size: 1rem;
    cursor: pointer;
}

#collections button,
#outfits button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

/* ---------- Tablets ---------- */

@media (max-width: 1000px)
{

    #app
    {
        grid-template-columns:140px 1fr 140px;
    }

}


/* ---------- Phones ---------- */

@media (max-width: 700px)
{

    #app
    {
        grid-template-columns:1fr;

        grid-template-rows:auto 1fr auto;
    }

    #leftPanel
    {
        order:1;
    }

    #stageContainer
    {
        order:2;
    }

    #rightPanel
    {
        order:3;
    }

}